<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Input</title>
  <!-- Anti-flicker snippet start (recommended)  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <!-- Anti-flicker snippet end -->
  <script src="../../assets/scripts/tagmanager.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLKML4W" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header></header>
  <div id="main">
    <article class="pg-index">
      <section>
        結果<br>
        <div id="output"></div>
      </section>
      <section>
        入力<br>
        <input id="test-input" type="text">
      </section>
    </article>
  </div>
  <footer></footer>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="../../assets/scripts/datalayer.js"></script>
  <script src='input.js'></script>
</body>

</html>