<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sticky</title>
  <!-- Anti-flicker snippet start (recommended)  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <!-- Anti-flicker snippet end -->
  <script src="../../assets/scripts/tagmanager.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLKML4W" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>ヘッダータイトル</header>
  <dl>
    <dt class="sticky">１行目</dt>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
  </dl>

  <dl>
    <dt class="sticky">２行目</dt>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
  </dl>

  <dl>
    <dt class="sticky">３行目</dt>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
    <dd><br><br><br></dd>
    ▼<dd><br><br><br></dd>
  </dl>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="../../assets/scripts/datalayer.js"></script>
</body>

</html>