<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sticky</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>ヘッダータイトル</header>
    <dl>
      <dt class="sticky">１行目</dt>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
    </dl>

    <dl>
      <dt class="sticky">２行目</dt>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
    </dl>

    <dl>
      <dt class="sticky">３行目</dt>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
      <dd><br><br><br></dd>
      ▼<dd><br><br><br></dd>
    </dl>
</body>
</html>