.component-list {
  border: 1px solid #bbb;
}

.component-list li + li {
  border-top: 1px solid #bbb;
}

.component-list a {
  display: flex;
  min-height: 40px;
  padding: 8px 16px;
}

.component-list a:hover {
  background: #f9f9f9;
}

.component-list .title {
  width: 80px;
  flex-shrink: 0;
}

.component-list .description {
  border-left: 1px solid #bbb;
  padding-left: 16px;
  margin-left: 16px;
}
